.career-hero {
  padding-top: 48px;
  padding-bottom: 48px;
}

.career-hero-title {
  margin-bottom: 24px;
}

.career-hero-descripton {
  font-family: Satoshi-Regular;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  font-feature-settings: 'liga' off;
  line-height: 1.33; /* 133.333% */
  color: rgb(240 243 250 / 90%);
}