:root {
    --e-global-color-brand: #154FE5;
    --e-global-color-brand-gradient: linear-gradient(225deg, #43BAF5 7.92%, #242FFF 100%);
    --e-global-color-text: #F0F3FA;
    --e-global-color-text-secondary: #565659;
    --e-global-color-bg: #01040A;
    --e-global-color-bg-object: #070B12;
    --e-global-color-bg-object-active: #070B12;
    --e-global-header-height: 92px;
    --e-global-header-height-mob: 76px;
}

body {
    font-family: Satoshi-Regular;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: var(--e-global-color-text);
    background: var(--e-global-color-bg);
    -webkit-font-smoothing: antialiased;
}

.wow {
    visibility: hidden; /* Приховати до анімації */
}

.wow.animated {
    visibility: visible; /* Показати при анімації */
}

.flex{
    display: flex;
}

.flex.aling-center{
    align-items: center;;
}

.flex.justify-space-between{
    justify-content: space-between;
}

.flex > .col-50{
    width: 50%;
}

h1,
.h1{
    margin: 0;
    font-family: Satoshi-Medium;
    font-size: 88px;
    font-weight: 500;
    line-height: 106px;
}

h2,
.h2{
    margin: 0;
    font-family: Satoshi-Medium;
    font-size: 64px;
    font-weight: 500;
    line-height: 72px;
}

h3,
.h3{
    margin: 0;
    font-family: Satoshi-Medium;
    font-size: 56px;
    font-weight: 500;
    line-height: 64px;
}

h4,
.h4{
    margin: 0;
    font-family: Satoshi-Regular;
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
}

h5,
.h5{
    margin: 0;
    font-family: Satoshi-Medium;
    font-size: 36px;
    font-weight: 500;
    line-height: 130%;
}

h6,
.h6{
    margin: 0;
    font-family: Satoshi-Medium;
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
}

.subheading-1{
    font-family: Satoshi-Medium;
    font-size: 28px;
    font-weight: 500;
    line-height: 36.4px;
}

.subheading-2{
    font-family: Satoshi-Regular;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
}

.body-text-1{
    font-family: Satoshi-Medium;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
}

.body-text-2{
    font-family: Satoshi-Regular;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}

.body-text-3{
    font-family: Satoshi-Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.link-text{
    font-family: Satoshi-Bold;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.caption-text{
    font-family: Satoshi-Bold;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 0.04em;
}

.color-blue{
    color: var(--e-global-color-brand);
}

a:visited{
    color: inherit;
}

a:has(button){
    text-decoration: none;
}

.btn-80{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    padding: 0 12px;
    font-family: Satoshi-Bold;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    color: var(--e-global-color-text);
    background: var(--e-global-color-brand-gradient);
    border: none;
    border-radius: 80px;
}

.btn-76{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 74px;
    padding: 0 12px;
    font-family: Satoshi-Bold;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    color: var(--e-global-color-text);
    background: transparent;
    border: 2px solid var(--e-global-color-brand);
    border-radius: 80px;
}

.btn-76:hover,
.btn-76:focus{
    border: 2px solid var(--e-global-color-brand);
}

.btn-64{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    padding: 0 12px;
    font-family: Satoshi-Bold;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: var(--e-global-color-brand);
    background: #0C0F1C;
    border: none;
    border-radius: 80px;
}

.btn-64.btn-blue-text{
    padding: 0 25px;
}

.btn-64.btn-blue-text i{
    position: relative;
    left: 11px;
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url("../images/svg/tabler-icon-arrow-down-left-blue-side-32.svg");
}

.btn-52{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 52px;
    padding: 0 12px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: var(--e-global-color-text);
    background: transparent;
    border: 2px solid var(--e-global-color-brand);
    border-radius: 80px;
}

.btn-52:hover{
    border: 2px solid var(--e-global-color-brand);
}

.opacity-032{
    color: var(--e-global-color-text-secondary);
}

#page{
    padding-top: var(--e-global-header-height);
    overflow: hidden;
}

.site-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: var(--e-global-header-height);
    background: linear-gradient(360deg, rgb(1 4 10 / 0%) 0%, rgb(1 4 10 / 64%) 197.28%);
    transition: transform 0.3s ease;
}

.site-header.fixed {
    position: fixed;
    transition: transform 0.3s ease;
    transform: translateY(0%);
}

.site-header.hidden {
    position: fixed;
    transition: transform 0.3s ease;
    transform: translateY(-100%);
}

.site-header > .container,
.site-header > .container > .flex{
    height: 100%;
}

.admin-bar .site-header{
    top: 32px;
}

.site-header .site-branding{
    z-index: 11;
    flex: none;
}

.site-header .site-branding img {
    position: relative;
    top: 4px;
    left: 0;
    width: 90px;
    height: 25px;
    object-fit: contain;
}

.main-navigation {
    width: 460px;
}

.main-navigation ul {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 52px;
    padding-left: 0;
    margin: 0 auto;
    margin-left: 26px;
    background: rgb(240 243 250 / 4%);
    border-radius: 99px;
}

.main-navigation a{
    padding: 10px 12px;
    padding-top: 9px;
    font-family: Satoshi-Medium;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: rgb(240 243 250 / 80%);
    background: transparent;
    border-radius: 40px;
    transition: 0.3s;
}

.main-navigation .menu > li > a:hover{
    background: #303132;
    transition: 0.2s;
}

.main-navigation a:focus{
    outline: none;
}

.main-navigation li {
    position: initial;
    margin-right: 0;
}

/* submenu servises link */ 
.main-navigation .menu-item-has-children a{
    position: relative;
    top: -1px;
    left: -3px;
}

.main-navigation > .menu-header-menu-container > .menu > .menu-item-has-children > a::after{
    position: relative;
    top: 4px;
    left: 3px;
    display: inline-block;
    width: 16px;
    height: 16px;
    content: '';
    background: url("../images/svg/tabler-icon-chevron-down.svg");
    background-repeat: no-repeat;
    transition: 0.3s;
}

.main-navigation > .menu-header-menu-container > .menu > .menu-item-has-children.active > a{
    background: #303132;
}

.main-navigation > .menu-header-menu-container > .menu > .menu-item-has-children.active > a::after{
    transition: 0.2s;
    transform: rotate(180deg) translateY(1px);
}

/* submenu */

.main-navigation ul.sub-menu{
    left: unset ;
    display: block;
}

/* submenu services */

#menu-item-11{
    cursor: pointer;
}

#menu-item-11 > .sub-menu {
    top: -669px;
    left: 50%;
    max-width: 1280px;
    height: 669px;
    padding: 0 24px;
    margin: 0;
    background: rgb(12 15 21 / 88%);
    border-radius: 16px;
    transition: 0.3s ease;
    transform: translateX(-50%);
}

#menu-item-11 > .sub-menu.active{
    top: 92px;
    transition: 0.3s ease-in-out;
}

#menu-item-11 > .sub-menu li:first-child{
    margin-bottom: 16px;
}

/* submenu grid */

#menu-item-11 > .sub-menu .menu-item-has-children .sub-menu{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    justify-content: normal;
    float: none;
    height: auto;
    padding: 0;
    margin: 0;
    background: transparent;
    box-shadow: none;
}

/* submenu item title */

#menu-item-11 > .sub-menu > .menu-item-has-children > a{
    padding-top: 25px;
    padding-left: 27px;
    margin-bottom: 7px;
    font-family: Satoshi-Bold;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    pointer-events: none;
}

/* submenu item */

#menu-item-11 > .sub-menu > .menu-item-has-children li{
    position: relative;
    margin: 0;
    overflow: hidden;
    background: rgb(7 11 18 / 100%);
    border-radius: 12px;
    transition: 0.3s;
}

#menu-item-11 > .sub-menu > .menu-item-has-children li:hover{
    background:#303132;
    transition: 0.2s;
}

/* solutions submenu */

/* solutions submenu tile link */
#menu-item-11 > .sub-menu > .menu-item-has-children:first-child ul li a{
    position: relative;
    top: unset;
    width: 100%;
    padding: 107px 12px 22px 15px;
    font-family: Satoshi-Medium;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    color: rgb(240 243 250 / 100%);
}

/* solutions submenu tile link arrow */
#menu-item-11 > .sub-menu > .menu-item-has-children:first-child ul li a::after{
    position: absolute;
    right: 8px;
    bottom: 12px;
    display: block;
    width: 56px;
    height: 56px;
    content: '';
    background-color: rgb(12 15 28 / 100%);
    background-image: url("../images/svg/tabler-icon-arrow-down-left.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100px;
}

/* solutions submenu tiles decoration */
#menu-item-11 > .sub-menu > .menu-item-has-children:first-child ul li::before{
    position: absolute;
    top: 12px;
    left: 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(240 243 250 / 40%);
}

#menu-item-11 > .sub-menu > .menu-item-has-children:first-child ul li:nth-child(1)::before{
    content: '01';
}

#menu-item-11 > .sub-menu > .menu-item-has-children:first-child ul li:nth-child(2)::before{
    content: '02';
}

#menu-item-11 > .sub-menu > .menu-item-has-children:first-child ul li:nth-child(3)::before{
    content: '03';
}

#menu-item-11 > .sub-menu > .menu-item-has-children:first-child ul li::after{
    position: absolute;
    top: 12px;
    right: 12px;
    display: block;
    content: '';
}

#menu-item-11 > .sub-menu > .menu-item-has-children:first-child ul li:nth-child(1)::after{
    width: 24px;
    height: 24px;
    background: url("../images/png/submenu-solutions-1.png");
    background-repeat: no-repeat;
    background-size: contain;
}

#menu-item-11 > .sub-menu > .menu-item-has-children:first-child ul li:nth-child(2)::after{
    width: 48px;
    height: 24px;
    background: url("../images/png/submenu-solutions-2.png");
    background-repeat: no-repeat;
    background-size: contain;
}

#menu-item-11 > .sub-menu > .menu-item-has-children:first-child ul li:nth-child(3)::after{
    width: 72px;
    height: 24px;
    background: url("../images/png/submenu-solutions-3.png");
    background-repeat: no-repeat;
    background-size: contain;
}

/* services submenu */
#menu-item-11 > .sub-menu > .menu-item-has-children:last-child > a{
    margin-bottom: 10px;
}

/* services submenu tile link */
#menu-item-11 > .sub-menu > .menu-item-has-children:last-child ul li a{
    position: relative;
    top: unset;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 17px 12px 15px 19px;
    font-family: Satoshi-Medium;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    color: rgb(240 243 250 / 100%);
}

/* services submenu tile link arrow */
#menu-item-11 > .sub-menu > .menu-item-has-children:last-child ul li a::after{
    position: absolute;
    right: 10px;
    bottom: 13px;
    display: block;
    width: 56px;
    height: 56px;
    content: '';
    background-color: rgb(12 15 28 / 100%);
    background-image: url("../images/svg/tabler-icon-arrow-down-left.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100px;
}

/* services submenu icon image */
#menu-item-11 > .sub-menu > .menu-item-has-children:last-child ul li a img{
    width: 145px;
    height: 140px;
    margin: 0;
}

/* header cta button */
.site-header .header-cta button{
    width: 143px;
    padding: 0;
}

.header-burger{
    display: none;
}

.mobile-menu{
    display: none;
}

.close-mobile-menu{
    display: none;
}

.site-header .header-cta button i{
    position: relative;
    left: -3px;
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url("../images/svg/tabler-icon-dots.svg");
}

.section-heading {
    margin-bottom: 32px;
}

.section-heading .caption-text{
    margin-bottom: 15px;
}

.home-hero{
    position: relative;
    top: -92px;
    width: 100%;
    height: 100vh;

    /* height: 850px; */
    margin-bottom: -27px;
}

.admin-bar .home-hero{
    /* top: 32px; */
}

.home-hero .home-hero-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home-hero-video-mobile{
    display: none;
}

.home-hero .container{
    position: relative;
    z-index: 1;
    height: 100%;
}

.home-hero .hero-heading{
    position: absolute;
    bottom: 12px;
}

.home-hero  .subheading-2{
    margin-top: 17px;
}

.hero-cta{
    position: absolute;
    right: 16px;
    bottom: 48px;
}

.hero-cta button{
    width: 240px;
    padding-right: 5%;
}

.hero-cta button i{
    position: relative;
    left: -3px;
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url("../images/svg/tabler-icon-dots-2.svg");
}

.home-services-slider .slider-item {
    padding: 24px;
    padding-bottom: 32px;
    margin-right: 4px;
    overflow: hidden;
    background: rgb(7 11 18 / 100%);
    border-radius: 12px;
    transition: 0.3s;
}

.home-services-slider .slider-item:hover{
    background: rgb(15 24 40 / 100%);
    transition: 0.2s;
}

.home-services-slider .slider-item a{
    color: var(--e-global-color-text);
    text-decoration: none;
}

.home-services-slider .slider-item .item-heading{
    display: flex;
    justify-content: space-between;
    font-family: Satoshi-Medium;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: rgb(240 243 250 / 24%);
    text-transform: uppercase;
    letter-spacing: 0.04em;
}

.home-services-slider .slider-item figure{
    margin-bottom: 21px;
}

.home-services-slider .slider-item h6{
    position: relative;
}

.home-services-slider .slider-item h6::after {
    position: absolute;
    right: 1px;
    bottom: -8px;
    display: block;
    width: 56px;
    height: 56px;
    content: '';
    background-color:  rgb(1 4 10 / 100%);
    background-image: url("../images/svg/tabler-icon-arrow-down-left.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100px;
}

.home-services-slider .slick-list.draggable {
    padding: 0 80px 0 0;
}

.home-services-slider .slick-next, 
.home-services-slider .slick-prev{
    top: -66px;
    right: 80px;
    z-index: 1;
    width: 64px;
    height: 64px;
    background: rgb(7 11 18 / 100%);
    border-radius: 100px;
}

.home-services-slider .slick-prev{
    right: 148px;
    left: unset;
}

.home-services-slider .slick-next:hover, 
.home-services-slider .slick-prev:hover{
    background: rgb(7 11 18 / 100%);
    opacity: 1;
}

.home-services-slider .slick-next::before{
    display: inline-block;
    width: 32px;
    height: 32px;
    content: '';
    background: url("../images/svg/tabler-icon-arrow-down-left-2.svg");
    opacity: 0.4;
}

.home-services-slider .slick-prev::before{
    display: inline-block;
    width: 32px;
    height: 32px;
    content: '';
    background: url("../images/svg/tabler-icon-arrow-down-left-2.svg");
    opacity: 0.4;
    transform: rotate(180deg);
}

.home-services-slider .slick-next:hover::before, 
.home-services-slider .slick-prev:hover::before{
    opacity: 1;
}

.home-services-slider {
    padding-bottom: 72px;
}

.home-process-steps{
    padding-bottom: 86px;
}

.home-process-steps .steps-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 4px;
}

.home-process-steps .steps-grid .col{
    padding: 24px;
    background: rgb(7 11 18 / 100%);
    border-radius: 12px;
}

.home-process-steps .steps-grid .item-heading {
    display: flex;
    justify-content: space-between;
    font-family: Satoshi-Medium;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: rgb(240 243 250 / 24%);
    text-transform: uppercase;
    letter-spacing: 0.04em;
}

.home-process-steps .steps-grid a{
    color: var(--e-global-color-text);
    text-decoration: none;
}

.home-process-steps .steps-grid .item:first-child .col{
    background: url("../images/png/service-card.png");
    background-size: cover;
}

.home-process-steps .steps-grid div:nth-child(2) figure,
.home-process-steps .steps-grid div:nth-child(3) figure{
    position: relative;
    top: 10px;
}

.home-process-steps .steps-grid figure{
    margin: 0;
    margin-top: -10px;
    margin-bottom: 4px;
}

.home-process-steps .steps-grid figure img{
    height: 332px;
    object-fit: contain;
}

.home-process-steps .steps-grid .title{
    position: relative;
    font-family: Satoshi-Medium;
    font-size: 28px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0;
}

.home-process-steps .steps-grid .item:first-child .col .title{
    position: relative;
    top: -9px;
}

.home-process-steps .steps-grid .item:first-child .col .title::after {
    position: absolute;
    right: 1px;
    bottom: -8px;
    display: block;
    width: 56px;
    height: 56px;
    content: '';
    background-color: var(--e-global-color-text);
    background-image: url("../images/svg/tabler-icon-arrow-down-left-blue.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100px;
    transition: 0.3s;
}

.home-process-steps .steps-grid a:hover .col .title::after{
    background-color: #f0f3fab5 !important;
    transition: 0.2s;
}

/* Fullscreen Swiper */
.swipe-heading {
    /* display: none; */
}

.swipe-container{
    position: relative;
    display: none;
}

.swipe-heading .section-heading{
    /* transform: translateY(54px); */
}

.swipe-container .sidebar-nav {
    position: absolute;
    left: 0;
    z-index: 111;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 460px;
    height: 100vh;
    padding: 24px;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 10px;
    background: var(--e-global-color-bg);
    border-radius: 12px;
}

.swipe-container .sidebar-nav a {
    position: relative;
    display: block;
    height: 33.33%;
    padding: 24px 18px;
    padding-right: 25px;
    margin: 10px 0;
    margin-top: 0;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    background: rgb(7 11 18 / 100%);
    border-left: 4px solid transparent;
    border-radius: 12px;
    transition: all 0.3s ease;
}

.swipe-container .sidebar-nav .item-heading {
    display: flex;
    justify-content: space-between;
    font-family: Satoshi-Medium;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: rgb(240 243 250 / 24%);
    text-transform: uppercase;
    letter-spacing: 0.04em;
}

.swipe-container .sidebar-nav .item-heading img{ 
    height: 24px;
}

.swipe-container .sidebar-nav a h6 {
    position: absolute;
    bottom: 41px;
    left: 0;
    width: 100%;
    padding-left: 24px;
}

.swipe-container .sidebar-nav a h6::after {
    position: absolute;
    right: 21px;
    bottom: -16px;
    display: block;
    width: 56px;
    height: 56px;
    content: '';
    background-color: #01040A; 
    background-image: url("../images/svg/tabler-icon-arrow-down-left.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100px;
}

.swipe-container .sidebar-nav a.active {
    background: rgb(12 17 29 / 100%);
}

.swipe-container .sidebar-nav a.active h6::after{
    background-image: url("../images/png/bg-button.png");
    background-size: contain;
}

.swipe-container .swipe-section .panel {
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: calc(100% - 470px);
    height: calc(100%);
    padding-right: 0;
    margin-right: 24px;
    overflow: hidden;
    font-size: 1.5em;
    text-align: center;
    border-radius: 12px;
}

.swipe-container .swipe-section .panel .inner {
    width: 100%;
    height: calc(100% - 10px);
    padding: 10px;
    overflow: hidden;

    /* background: rgba(12, 16, 29, 1);
    border-radius: 12px;
    width: 100%;
    min-height: 728px;
    max-height: 100%;
    height: calc(100% - 102px);
    margin-top: 105px;
    overflow: hidden; */
    background: rgb(12 16 29 / 100%);
    border-radius: 12px;
}

.swipe-container .swipe-section .panel .panel-heading {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    padding: 0 21px;
    padding-top: 25px;
    border-bottom: 1px solid rgb(240 243 250 / 4%);
}

.swipe-container .swipe-section .panel  .panel-heading  .link{
    padding-top: 9px;
    font-size: 14px;
    line-height: 20px;
    color: rgb(240 243 250 / 32%);
}

.swipe-container .swipe-section .panel  .panel-heading  .link a{
    color: var(--e-global-color-brand);
}

.swipe-container .swipe-section .panel img{
    position: relative;
    top: -98px;
    width: 100%;
}

.swipe-container .swipe-section {
    position: absolute !important;
    top: 0 !important;
    z-index: 999;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.swipe-container .pin-spacer{
    margin-top: 21px !important;
}

.swipe-container .sidebar-nav{
    margin-top: 26px;
}

.swipe-next{
    padding-top: 154px;
    margin-top: 100vh;
}

.home-cta-block{
    padding-top: 198px;
    padding-bottom: 221px;
    margin-bottom: 46px;
}

.home-cta-block .content{
    max-width: 524px;
}

.home-cta-block .content .subheading-2{
    margin-bottom: 16px;
}

.home-cta-block .content .body-text-3{
    margin-bottom: 40px;
}

.home-cta-block .content button{
    height: 72px;
    padding: 0 38px;
    font-size: 16px;
}

.home-cta-block .content button i{
    position: relative;
    left: 4px;
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-left: 1px;
    background: url("../images/svg/tabler-icon-arrow-down-left.svg");
}

.home-cases{
    margin-bottom: 129px;
}

.home-cases > .container > .flex{
    column-gap: 48px;
} 

.home-cases > .container > .flex .col-50:last-child{
    padding-left: 4px;
}

.home-cases .section-heading{
    padding-top: 18px;
}

.home-cases .section-heading .body-text-3{
    margin-top: 33px;
    margin-bottom: 56px;
}   

.home-cases .case-card {
    margin-bottom: 112px;
}

.home-cases .case-card .case-poster{
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 13px;
}

.home-cases .case-card .case-poster img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.home-cases .case-card h6{
    padding-left: 12px;
}

.home-cases .case-card .case-tags{
    padding-left: 12px;
    margin-top: 16px;
}

.home-cases .case-card .case-tags .tag{
    display: inline-flex;
    align-items: center;
    height: 40px;
    padding: 0 16px;
    margin-right: 0;
    background: rgb(240 243 250 / 8%);
    border-radius: 72px;
}

.home-cases .counter-cta{
    padding: 48px 27px 38px 40px;
    background: url("../images/bg-brand.jpg");
    background-size: cover;
    border-radius: 12px;
}

.home-cases .counter-cta .h1{
    margin-bottom: 17px;
    font-family: Satoshi-Regular;
    font-size: 200px;
    line-height: 200px;
}

.home-cases .counter-cta .h3{
    display: inline-block;
    margin-bottom: 198px;
}

.home-cases .counter-cta button{
    height: 76px;
    padding: 0 40px;
    font-size: 16px;
    color: var(--e-global-color-brand);
    background: var(--e-global-color-text);
}

.home-cases .counter-cta button i{
    position: relative;
    left: 5px;
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url("../images/svg/tabler-icon-arrow-down-left-blue-side.svg");
}

.home-industries {
    margin-bottom: 128px;
}

.home-industries .section-heading{
    position: relative;
}

.home-industries .section-heading .body-text-3{
    position: absolute;
    right: 0;
    bottom: -24px;
    max-width: 416px;
}

.home-industries .industries-item{
    position: relative;
    height: 112px;
    border-top: 1px solid rgb(240 243 250 / 8%);
}

.home-industries .industries-item .item-link .body-text-3{
    position: relative;
    top: 6px;
    margin-right: 17px;
    color: rgb(86 86 89 / 100%);
}

.home-industries .industries-item .item-link{
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
}

.home-industries .industries-item .item-link::after {
    position: absolute;
    right: 16px;
    bottom: 25px;
    display: block;
    width: 64px;
    height: 64px;
    content: '';
    background-color: rgb(14 17 32 / 100%);
    background-image: url("../images/svg/tabler-icon-arrow-down-left.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px;
    border-radius: 100px;
}

.home-industries .industries-item .item-active{
    position: absolute;
    top: 0;
    display: none;
    align-items: center;
    width: 100%;
    height: 100%;
    background: var(--e-global-color-brand);

    /* display: flex;   */
}

.home-industries .industries-item .item-active .slide{
    position: absolute;
    left: 0;
    display: flex;

    /* animation: marquee 110s linear infinite; */
    align-items: center;  
    height: 100%;
}

.home-industries .industries-item .item-active a{
    display: flex;
    align-items: center;
    height: 100%;
    color: var(--e-global-color-text);
    text-decoration: none;
}

.home-industries .industries-item:hover .item-active{
    display: flex;
}

.home-industries .industries-item .item-active .h5 {
    position: relative;
    display: flex;
    gap: 25px;
    align-items: center;
    width: 100%;
    width: max-content;
    margin-left: 25px;
}

.home-industries .industries-item .item-active .h5::after {
    display: inline-block;
    flex: none;
    width: 64px;
    height: 64px;
    content: '';
    background-color: var(--e-global-color-text);
    background-image: url("../images/svg/tabler-icon-arrow-down-left-blue-side-32.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px;
    border-radius: 100px;
}

@keyframes marquee {
    from {
        transform: translateX(-50%);
    }

    to {
        transform: translateX(100%);
    }
}

.home-testimonials{
    margin-bottom: 129px;
}

.home-testimonials .section-heading{
    position: relative;
}

.home-testimonials .btn-wrap{
    position: absolute;
    right: 153px;
    bottom: 0;
}

.testimonials-carousel {
    margin-top: 56px;
}

.testimonials-carousel .slick-list{
    margin: 0 -4px;
}

.testimonials-carousel .slick-track{
    display: flex;
}

.testimonials-carousel .testimonials-item {
    padding: 23px;
    padding-top: 25px;
    padding-bottom: 26px;
    margin: 0 4px;
    background: rgb(7 11 18 / 100%);
    border-radius: 12px;
}

.testimonials-carousel .testimonials-item .text::before{
    display: block;
    width: 48px;
    height: 48px;
    margin-bottom: 16px;
    content: '';
    background: url("../images/svg/bxs-quote-alt-left.svg.svg");
}

.testimonials-carousel .testimonials-item .text{
    position: relative;
    min-height: 414px;
    padding-right: 8px;
    margin: 0;
    font-family: Satoshi-Medium;
}

.testimonials-carousel .testimonials-item .author{
    position: relative;
}

.testimonials-carousel .testimonials-item .author .avatar{
    position: absolute;
    top: 0;
    left: 0;
    width: 56px;
    height: 56px;
    overflow: hidden;
    object-fit: contain;
    border-radius: 100px;
}

.testimonials-carousel .testimonials-item .author .info{
    padding-left: 77px;
}

.testimonials-carousel .testimonials-item .name{
    position: relative;
    top: -2px;
    font-family: Satoshi-Medium;
}

.testimonials-carousel .testimonials-item .occupation{
    position: relative;
    top: 4px;
    font-size: 16px;
    color: rgb(240 243 250 / 32%);
}

.testimonials-carousel .slick-next, 
.testimonials-carousel .slick-prev{
    top: -89px;
    right: 2px;
    z-index: 1;
    width: 64px;
    height: 64px;
    background: rgb(7 11 18 / 100%);
    border-radius: 100px;
}

.testimonials-carousel .slick-prev{
    right: 70px;
    left: unset;
}

.testimonials-carousel .slick-next:hover, 
.testimonials-carousel .slick-prev:hover{
    background: rgb(7 11 18 / 100%);
    opacity: 1;
}

.testimonials-carousel .slick-next::before{
    display: inline-block;
    width: 32px;
    height: 32px;
    content: '';
    background: url("../images/svg/tabler-icon-arrow-down-left-2.svg");
    opacity: 0.4;
}

.testimonials-carousel .slick-prev::before{
    display: inline-block;
    width: 32px;
    height: 32px;
    content: '';
    background: url("../images/svg/tabler-icon-arrow-down-left-2.svg");
    opacity: 0.4;
    transform: rotate(180deg);
}

.testimonials-carousel .slick-next:hover::before, 
.testimonials-carousel .slick-prev:hover::before{
    opacity: 1;
}

.home-blog .section-heading{
    position: relative;
}

.home-blog .section-heading .btn-wrap{ 
    position: absolute;
    right: 0;
    bottom: 0;
}

.home-blog .posts-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 4px;
    margin-top: 56px;
}

.home-blog .posts-grid .post{
    padding: 4px;
    padding-bottom: 24px;
    background: rgb(7 11 18 / 100%);
    border-radius: 12px;
}

.home-blog .posts-grid .post a{
    color: var(--e-global-color-text);
    text-decoration: none;
}

.home-blog .posts-grid .post-thumbnail{
    height: 240px;
    margin: 0;
    margin-bottom: 9px;
    border-radius: 12px;
}

.home-blog .posts-grid .post-thumbnail img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.home-blog .posts-grid .post-bottom{
    position: relative;
    padding: 20px;
}

.home-blog .posts-grid .post-date{ 
    margin-bottom: 8px;
}

.home-blog .posts-grid .post-title{ 
    min-height: 147px;
}

.home-blog .posts-grid .post-bottom::after {
    position: absolute;
    right: 22px;
    bottom: 0;
    display: block;
    width: 56px;
    height: 56px;
    content: '';
    background-color: rgb(1 4 10 / 100%);
    background-image: url("../images/svg/tabler-icon-arrow-down-left.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100px;
}

.contacts-bottom-block{
    position: relative;
    max-width: 1760px;
    height: 629px;
    margin: 0 auto;
    margin-top: 73px;
}

.contacts-bottom-block::after{
    position: absolute;
    top: 73px;
    right: -92px;
    width: 851px;
    height: 480px;
    content: '';
    background: url("../images/png/contact-bg.png");
    background-size: 100%;
}

.contacts-bottom-block .container{
    display: flex;
    align-items: center;
    height: 100%;
}

.contacts-bottom-block .container .content{
    position: relative;
    z-index: 1;
    width: 100%;
}

.contacts-bottom-block .btn-wrap{
    display: flex;
    column-gap: 24px;
    margin-top: 40px;
}

.contacts-bottom-block .btn-wrap button{
    padding: 0 22px;
}

.contacts-bottom-block .btn-wrap .btn-80{
    position: relative;
    top: -2px;
    padding: 0 60px;
}

.contacts-bottom-block .btn-wrap .btn-80 i {
    position: relative;
    left: -3px;
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url("../images/svg/tabler-icon-dots-2.svg");
}

.site-footer{
    padding-top: 38px;
    padding-bottom: 1px;
    border-top: 1px solid rgb(14 17 32 / 100%);
}

.site-footer a{
    color: var(--e-global-color-text);
    text-decoration: none;
    transition: 0.3s;
}

.site-footer a:hover{
    color: var(--e-global-color-brand);
    transition: 0.2s;
}

.site-footer .footer-menu ul{
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.site-footer .footer-menu ul li{
    margin-right: 24px;
}

.site-footer > .container{
    position: relative;
}

.site-footer .company-info{
    position: absolute;
    top: 0;
    right: 22px;
    max-width: 410px;
}

.site-footer .company-contacts > *{
    display: block;
    margin-bottom: 14px;
}

.site-footer .socials{
    margin-top: 23px;
}

.site-footer .socials a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    margin-right: 3px;
    color: var(--e-global-color-text);
    text-decoration: none;
    background: rgb(14 17 32 / 100%);
    border-radius: 100px;
}

.site-footer a i{
    display: inline-block;
    width: 24px;
    height: 24px;
}

.site-footer a.facebook i{
    background: url("../images/svg/tabler-icon-brand-facebook.svg");
}

.site-footer a.instagram i{
    background: url("../images/svg/tabler-icon-brand-instagram.svg");
}

.site-footer a.linkedin i{
    background: url("../images/svg/tabler-icon-brand-linkedin.svg");
}

.site-footer a.dribble i{
    background: url("../images/svg/tabler-icon-brand-dribbble.svg");
}

.site-footer a.tiktok i{
    background: url("../images/svg/tabler-icon-brand-tiktok.svg");
}

.site-footer a.upwork i{
    background: url("../images/svg/tabler-icon-brand-upwork.svg");
}

.site-footer a.clutch i{
    background: url("../images/svg/tabler-icon-brand-clutch.svg");
}

.site-footer .footer-privacy{
    margin-top: 86px;
    margin-bottom: 14px;
}

.site-footer .footer-copyright{
    color: rgb(240 243 250 / 40%);
}

.servises-hero .flex{
    align-items: center;
}

.servises-hero {
    padding-top: 53px;
    padding-bottom: 252px;
}

.servises-hero .hero-descripton{
    font-family: Satoshi-Medium;
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0%;
}

.servises-hero .hero-descripton p{
    padding-left: 8px;
    margin: 0;
    margin-top: 3px;
}

.page-breadcrumps {
    margin-top: 29px;
}

.page-breadcrumps .breadcrumbs {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 14px;
    color: #B0B0B0;
}

.page-breadcrumps .breadcrumbs a {
    color: rgb(240 243 250 / 75%);
    text-decoration: none;
    transition: color 0.3s;
}

.page-breadcrumps .breadcrumbs a:hover {
    color: #FFF;
}

.page-breadcrumps .breadcrumbs .separator {
    margin-right: -1px;
    color: rgb(240 243 250 / 16%);
}

.page-breadcrumps .breadcrumbs .current {
    font-weight: 500;
    color: rgb(240 243 250 / 100%);
}

.page-breadcrumps .breadcrumb-home img {
    position: relative;
    top: 3px;
    display: inline-block;
    width: 16px;
    height: 16px;
}

.services-hero-animation {
    margin-bottom: 57px;
}

.services-hero-animation img{
    width: 100%;
}

.services-section-heading{
    padding-bottom: 23px;
    border-bottom: 1px solid rgb(240 243 250 / 16%)
}

.services-overview-content {
    margin-top: 40px;
    margin-bottom: 128px;
}

.services-overview-content .flex{
    column-gap: 16px;
}

.services-overview-content .body-text-1{
    margin-bottom: 32px;
}

.services-benefits {
    margin-bottom: 128px;
}

.services-benefits .services-section-heading{
    border: none;
}

.services-benefits-content .items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4px;
    margin-top: 9px;
}

.services-benefits-content .items .item{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    aspect-ratio: 424 / 440;
    padding: 24px;
    background: rgb(7 11 18 / 100%);
    border-radius: 12px;
}

.services-benefits-content .items .item-num{
    position: absolute;
    top: 24px;
    color: rgb(240 243 250 / 40%);
}

.how-it-works .services-overview-content{
    margin-top: 40px;
}

.how-it-works .services-overview-content .flex {
    margin-bottom: 80px;
}

.how-it-works .services-overview-content .duration{
    margin-top: 8px;
    color: rgb(240 243 250 / 32%);
}

.testiomonials-full-width {
    margin-bottom: 99px;
}

.testiomonials-full-width .testiomonials-slider-full-width {
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 56px;
}

.testiomonials-full-width .testiomonial-item{
    padding: 40px;
    background: rgb(7 11 18 / 100%);
    border-radius: 12px;
}

.testiomonials-full-width .testiomonial-title{
    position: relative;
    padding-right: 12px;
    padding-left: 43px;
    margin-bottom: 24px;
}

.testiomonials-full-width .testiomonial-title::before{
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 27px;
    height: 40px;
    content: '';
    background: url("../images/svg/quote.svg");
}

.testiomonials-full-width .testiomonial-text {
    padding-right: 50px;
    margin-bottom: 25px;
    color: rgb(240 243 250 / 80%);
}

.testiomonials-full-width .testiomonial-text p {
    margin-top: 0;
    margin-bottom: 12px;
}

.testiomonials-full-width .name {
    margin-bottom: 8px;
}

.testiomonials-full-width .role{
    color: rgb(240 243 250 / 64%);
}

.testiomonials-full-width .testiomonial-photo.col{
    width: 348px;
}

.testiomonials-full-width .testiomonial-content.col {
    width: calc(100% - 348px);
}

.testiomonials-full-width .testiomonial-photo-wrap{
    aspect-ratio: 348 / 469;
    margin: 0;
    overflow: hidden;
    border-radius: 16px;
}

.testiomonials-full-width .testiomonial-photo-wrap img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testiomonials-full-width .slick-next, 
.testiomonials-full-width .slick-prev{
    top: -90px;
    right: 3px;
    z-index: 1;
    width: 64px;
    height: 64px;
    background: rgb(7 11 18 / 100%);
    border-radius: 100px;
}

.testiomonials-full-width .slick-prev{
    right: 70px;
    left: unset;
}

.testiomonials-full-width .slick-next:hover, 
.testiomonials-full-width .slick-prev:hover{
    background: rgb(7 11 18 / 100%);
    opacity: 1;
}

.testiomonials-full-width .slick-next::before{
    display: inline-block;
    width: 32px;
    height: 32px;
    content: '';
    background: url("../images/svg/tabler-icon-arrow-down-left-2.svg");
    opacity: 0.4;
}

.testiomonials-full-width .slick-prev::before{
    display: inline-block;
    width: 32px;
    height: 32px;
    content: '';
    background: url("../images/svg/tabler-icon-arrow-down-left-2.svg");
    opacity: 0.4;
    transform: rotate(180deg);
}

.testiomonials-full-width .slick-next:hover::before, 
.testiomonials-full-width .slick-prev:hover::before{
    opacity: 1;
}

.transparent_header #page{
    padding-top: 0;
}
