@media (min-width: 1441px) {
  .container {
    width: 100%;
    max-width: 1760px;
    padding: 0 16px;
    margin: 0 auto;
  }

  .home-services-slider .home-services-slider-wrap {
    padding-left: 16px !important;
  }

  .home-services-slider .home-services-slider-wrap {
    width: 100%;
    max-width: 1760px;
    padding: 0 16px;
    margin: 0 auto;
  }

  .home-process-steps .section-heading {
    max-width: 1760px;
    margin: 0 auto 32px;
  }

  .home-process-steps .steps-grid a,
  .home-process-steps .steps-grid .col,
  .home-process-steps .steps-grid figure {
    aspect-ratio: 1 / 1;
  }

  .home-process-steps .steps-grid figure img {
    height: 100% !important;
  }

  .home-blog .posts-grid .post-thumbnail {
    height: auto;
    aspect-ratio: 5 / 3;
  }

  .testiomonials-full-width .testiomonials-slider-full-width {
    max-width: 1760px;
  }

  .contacts-bottom-block::after {
    right: 0;
  }
}

@media (max-width: 1440px) {
  .container {
    width: 100%;
    max-width: 1312px;
    padding: 0 16px;
    margin: 0 auto;
  }
}

@media (max-width: 1023px) {
  h1,
  .h1 {
    margin: 0;
    font-family: Satoshi-Medium;
    font-size: 64px;
  }

  h2,
  .h2 {
    margin: 0;
    font-family: Satoshi-Medium;
    font-size: 40px;
  }

  h3,
  .h3 {
    margin: 0;
    font-family: Satoshi-Medium;
    font-size: 36px;
    font-weight: 500;
  }

  h4,
  .h4 {
    margin: 0;
    font-family: Satoshi-Regular;
    font-size: 34px;
    font-weight: 400;
  }

  h5,
  .h5 {
    margin: 0;
    font-family: Satoshi-Medium;
    font-size: 32px;
    font-weight: 500;
  }

  h6,
  .h6 {
    margin: 0;
    font-family: Satoshi-Medium;
    font-size: 28px;
    font-weight: 500;

  }

  .subheading-1 {
    font-family: Satoshi-Medium;
    font-size: 24px;
    font-weight: 500;
  }

  .subheading-2 {
    font-family: Satoshi-Regular;
    font-size: 20px;
    font-weight: 400;
  }

  .body-text-1 {
    font-family: Satoshi-Medium;
    font-size: 20px;
    font-weight: 500;
  }

  .body-text-2 {
    font-family: Satoshi-Regular;
    font-size: 18px;
    font-weight: 400;
  }

  .body-text-3 {
    font-family: Satoshi-Regular;
    font-size: 16px;
    font-weight: 400;
  }

  .link-text {
    font-family: Satoshi-Bold;
    font-size: 16px;
    font-weight: 700;
  }

  .caption-text {
    font-family: Satoshi-Bold;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.04em;
  }

  .main-navigation,
  .header-cta {
    display: none;
  }

  .site-header .site-branding img {
    left: 0;
  }

  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100vh;
    padding-top: var(--e-global-header-height-mob);
    background: var(--e-global-color-bg);
    transition: transform 0.1s;
    transform: translateX(100%);
  }

  .mobile-menu.active {
    transition: transform 0.2s;
    transform: translateX(0);
  }

  .mobile-menu .mobile-menu-inner {
    height: 100%;
    padding: 0 16px;
    overflow: auto;
  }

  .close-mobile-menu {
    position: absolute;
    top: 26px;
    right: 16px;
    display: none;
    width: 24px;
    height: 24px;
    background: url("../images/svg/menu-close.svg") center/contain no-repeat;
    border: none;
  }

  .mobile-menu-active .site-header .site-branding {
    z-index: 11;
  }

  .mobile-menu-active .close-mobile-menu {
    z-index: 11;
    display: block;
  }

  .mobile-menu .menu {
    padding: 0;
    padding-bottom: 84px;
    margin: 0;
    list-style: none;
  }

  .mobile-menu .menu li {
    padding: 17px 0 15px;
    font-size: 16px;
    border-top: 1px solid rgb(240 243 250 / 16%);
  }

  .mobile-menu .menu li a {
    font-family: Satoshi-Medium;
    font-size: 28px;
    font-weight: 500;
    line-height: 36px;
    color: var(--e-global-color-text);
    text-decoration: none;
  }

  .mobile-menu .menu li:last-child {
    border-bottom: 1px solid rgb(240 243 250 / 16%);
  }

  .mobile-menu .menu .menu-item-11 > .sub-menu {
    position: fixed;
    top: 76px;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100vh;
    padding: 0;
    padding-top: 1px;
    padding-bottom: 81px;
    margin: 0;
    overflow: scroll;
    list-style: none;
    background: var(--e-global-color-bg);
    transition: 0.3s;
    transform: translateX(100%);
  }

  .mobile-menu .menu .menu-item-11 > .sub-menu.active {
    transition: 0.2s;
    transform: translateX(0);
  }

  .mobile-menu .menu-item-has-children.menu-item-11 {
    position: relative;
  }

  .mobile-menu .menu-item-has-children.menu-item-11::after {
    position: absolute;
    top: 22px;
    right: 0;
    display: inline-block;
    width: 24px;
    height: 24px;
    content: '';
    background: url("../images/svg/tabler-icon-arrow-down-left-2.svg") center/contain no-repeat;
  }

  .mobile-menu .menu .menu-item-11 > .sub-menu .sub-menu {
    padding: 0;
    margin: 0;
    margin-bottom: -3px;
    list-style: none;
  }

  .mobile-menu .menu .menu-item-11 > .sub-menu li,
  .mobile-menu .menu .menu-item-11 > .sub-menu .sub-menu li {
    border: none;
  }

  .mobile-menu .menu .menu-item-11 > .sub-menu > li {
    padding: 0 16px;
  }

  .mobile-menu .menu .menu-item-11 > .sub-menu .back-button {
    position: relative;
    padding: 0 16px;
    border: none;
  }

  .mobile-menu .menu .menu-item-11 > .sub-menu > li:not(.back-button) a[href="#"] {
    display: inline-block;
    padding-left: 12px;
    margin-top: 23px;
    margin-bottom: 8px;
    font-family: Satoshi-Bold;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: rgb(240 243 250 / 24%);
    text-transform: uppercase;
    letter-spacing: 0.04rem;
  }

  .mobile-menu .menu .menu-item-11 > .sub-menu .back-button::before {
    position: relative;
    top: 1px;
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 8px;
    content: '';
    background: url("../images/svg/tabler-icon-arrow-down-left-2.svg") center / contain no-repeat;
    transform: rotate(180deg);
  }

  .mobile-menu .menu .menu-item-11 > .sub-menu .sub-menu li {
    position: relative;
    display: flex;
    align-items: center;
    height: 80px;
    padding-left: 12px;
    margin-bottom: 4px;
    background: rgb(7 11 18 / 100%);
    border-radius: 12px;
  }

  .mobile-menu .menu .menu-item-11 > .sub-menu .sub-menu li a {
    z-index: 111;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 20px;
    line-height: 28px;
  }

  .mobile-menu .menu-item-11 > .sub-menu > .menu-item-has-children:nth-child(2) ul li::before {
    position: relative;
    top: -1px;
    display: inline-block;
    flex: none;
    content: '';
  }

  .mobile-menu .menu-item-11 > .sub-menu > .menu-item-has-children:nth-child(2) ul li:nth-child(1)::before {
    width: 56px;
    height: 24px;
    margin-right: 16px;
    background: url("../images/png/submenu-solutions-1.png");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .mobile-menu .menu-item-11 > .sub-menu > .menu-item-has-children:nth-child(2) ul li:nth-child(2)::before {
    width: 56px;
    height: 24px;
    margin-right: 16px;
    background: url("../images/png/submenu-solutions-2.png");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .mobile-menu .menu-item-11 > .sub-menu > .menu-item-has-children:nth-child(2) ul li:nth-child(3)::before {
    width: 56px;
    height: 24px;
    margin-right: 16px;
    background: url("../images/png/submenu-solutions-3-mob.png");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .mobile-menu .menu .menu-item-11 > .sub-menu .sub-menu li::after {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 56px;
    height: 56px;
    content: '';
    background-color: rgb(12 15 28 / 100%);
    background-image: url("../images/svg/tabler-icon-arrow-down-left.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 24px 24px;
    border-radius: 100px;

  }

  .mobile-menu .menu-item-11 > .sub-menu > .menu-item-has-children:nth-child(3) li {
    height: 110px;
  }

  .mobile-menu .menu-item-11 > .sub-menu > .menu-item-has-children:nth-child(3) li::after {
    top: 27px;
  }

  .mobile-menu .menu-item-11 > .sub-menu .wp-menu-img-before img {
    position: relative;
    top: -1px;
    left: 4px;
    width: 80px;
    margin-right: 4px;
  }

  .mobile-menu .header-cta-mobile {
    display: block;
  }

  .mobile-menu .header-cta-mobile {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    padding: 0 16px;
    padding-top: 10px;
    padding-bottom: 16px;
    background: var(--e-global-color-bg);
  }

  .mobile-menu .header-cta-mobile button {
    width: 100%;
    height: 64px;
    font-size: 16px;
  }

  .mobile-menu .header-cta-mobile button i {
    left: -2px;
    margin-right: 5px;
  }

  .site-header {
    height: var(--e-global-header-height-mob);
  }

  #page {
    padding-top: var(--e-global-header-height-mob);
  }

  .header-burger {
    display: block;
    width: 24px;
    height: 24px;
    background: url("../images/svg/menu-burger.svg") center/contain no-repeat;
    border: none;
  }

  .mobile-menu-active .header-burger {
    display: none;
  }

  .home-hero {
    position: relative;
    top: unset;
    height: auto;
    margin-top: 8px;
    margin-bottom: 123px;
  }

  .home-hero .home-hero-video {
    display: none;
  }

  .home-hero .hero-heading {
    position: relative;
    bottom: unset;
  }

  .hero-heading h1 {
    font-size: 64px;
    font-weight: 500;
    line-height: 72px;
    letter-spacing: 0;

  }

  .hero-cta {
    position: relative;
    right: unset;
    bottom: unset;
  }

  .home-hero-video-mobile {
    position: relative;
    display: block;
    height: auto;
    padding: 0 16px;
    margin-bottom: 17px;
    overflow: hidden;
    border-radius: 16px;
  }

  .home-hero-video-mobile .overlay {
    position: absolute;
    inset: 0;
    z-index: 11;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(1 4 10 / 80%);

  }

  .home-hero-video-mobile video {
    width: 100%;
    height: 100%;
    border-radius: 16px;
  }

  .home-hero-video-mobile .video-action {
    margin-top: 0;
  }

  .home-hero-video-mobile #play-video {
    display: block;
    width: 56px;
    height: 56px;
    margin: 0 auto;
    background: url("../images/png/play-button.png");
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
  }

  .home-hero-video-mobile .video-action span {
    position: relative;
    top: 9px;
    font-family: Satoshi-Bold;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: rgb(240 243 250 / 75%);
    text-transform: uppercase;
    letter-spacing: 0.04rem;
  }

  .hero-cta button {
    width: 100%;
  }

  .home-services-slider {
    margin-bottom: 141px;
  }

  .home-services-slider-wrap {
    padding-right: 16px;
  }

  .home-services-slider .slick-list.draggable {
    padding: 0 !important;
  }

  .home-services-slider .slider-item {
    margin-right: 0;
  }

  .home-services-slider .slick-next, .home-services-slider .slick-prev {
    top: unset;
    bottom: -114px;
  }

  .home-services-slider .slick-next {
    right: 31%;
  }

  .home-services-slider .slick-prev {
    left: 31% !important;
  }

  .home-services-slider .slider-item figure {
    margin-bottom: 26px;
  }

  .home-process-steps .steps-grid {
    grid-template-columns: 1fr;
  }

  .home-process-steps .steps-grid .item:first-child .col {
    aspect-ratio: 362 / 320;
    padding-bottom: 0;
    margin-bottom: 4px;
  }

  .home-process-steps .steps-grid figure {
    width: 100%;
    height: 100%;
    margin: 0;
    margin-top: -24px;
    margin-bottom: -19px;
    text-align: end;
  }

  .home-process-steps .steps-grid figure img {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 245px;
    margin: 0 auto;
    object-fit: contain;
  }

  .home-process-steps .steps-grid .item:first-child img {
    left: 0;
    width: 100%;
    height: 237px;
  }

  .home-process-steps .steps-grid .title {
    top: -11px;
  }

  .home-process-steps .steps-grid .item:first-child .col .title {
    position: relative;
    top: unset;
    bottom: 12%;
  }

  .home-process-steps {
    padding-bottom: 63px;
  }

  .home-cta-block {
    padding-top: 276px;
    padding-bottom: 40px;
    margin-bottom: 53px;
    background-repeat: no-repeat !important;
    background-position: 62.5% 64% !important;
    background-size: 348% !important;
  }

  .home-cta-block .content .subheading-2 {
    margin-top: 25px;
  }

  .home-cta-block .content button {
    width: 100%;
  }

  .home-cases > .container > .flex {
    flex-direction: column;
  }

  .home-cases > .container > .flex > .col-50 {
    width: 100%;
  }

  .home-cases > .container > .flex > .col-50:first-child .case-card:last-child {
    margin-bottom: 21px;
  }

  .home-cases .section-heading .body-text-3 {
    margin-top: 25px;
  }

  .home-cases .case-card {
    margin-bottom: 40px;
  }

  .home-cases .case-card .case-poster {
    margin-bottom: 18px;
  }

  .home-cases .case-card .case-poster img {
    border-radius: 8px;
  }

  .home-cases .case-card h6 {
    padding-left: 0;
  }

  .home-cases .case-card .case-tags {
    display: flex;
    gap: 4px;
    padding-left: 0;
    margin-top: 15px;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
  }

  .home-cases .case-card .case-tags::-webkit-scrollbar {
    display: none;
  }

  .home-cases .case-card .case-tags .tag {
    flex-shrink: 0;
  }

  .home-cases .counter-cta {
    padding: 40px 24px 24px;
  }

  .home-cases > .container > .flex .col-50:last-child {
    padding-left: 0;
  }

  .home-cases .counter-cta .h1 {
    font-size: 120px;
    line-height: 120px;
  }

  .home-cases .counter-cta .h3 {
    margin-bottom: 48px;
    font-size: 32px;
    line-height: 40px;
  }

  .home-cases .counter-cta button {
    width: 100%;
    height: 72px;
    border: none;
  }

  .home-industries {
    margin-bottom: 119px;
  }

  .home-industries h2 {
    letter-spacing: -0.2px;
  }

  .home-industries .section-heading .body-text-3 {
    position: relative;
    right: unset;
    bottom: unset;
    max-width: 100%;
    margin-top: 24px;
  }

  .home-industries .industries-item {
    height: auto;
  }

  .home-industries .industries-item .item-link {
    padding-top: 36px;
    padding-right: 70px;
    padding-bottom: 36px;
  }

  .home-testimonials {
    margin-bottom: 212px;
  }

  .home-testimonials > .container {
    position: relative;
  }

  .home-testimonials .section-heading {
    position: unset;
  }

  .home-testimonials h2 br {
    display: none;
  }

  .home-testimonials .testimonials-carousel {
    margin-top: -7px;
  }

  .home-testimonials .testimonials-carousel .slick-next, .testimonials-carousel .slick-prev {
    top: unset;
    bottom: -114px;
  }

  .home-testimonials .testimonials-carousel .testimonials-item .text {
    min-height: 413px;
  }

  .home-testimonials .btn-wrap {
    position: absolute;
    right: 155px;
    bottom: -82px;
  }

  .home-testimonials .btn-wrap .btn-64.btn-blue-text {
    height: 64px;
    padding: 16px;
  }

  .home-blog > .container {
    position: relative;
  }

  .home-blog .section-heading {
    position: unset;
    margin-bottom: 26px;
  }

  .home-blog .posts-grid {
    display: flex;
    gap: 4px;
    margin-top: 0;
    overflow-x: auto;
    scrollbar-width: none;
  }

  .home-blog .posts-grid .post {
    width: 100%;
  }

  .home-blog .posts-grid .post:nth-child(2),
  .home-blog .posts-grid .post:nth-child(3) {
    display: none;
  }

  .home-blog .posts-grid .post-thumbnail {
    height: 209px;
  }

  .home-blog .posts-grid .post-date {
    color: rgb(240 243 250 / 40%);

  }

  .home-blog .section-heading .btn-wrap {
    position: absolute;
    right: 0;
    bottom: -61px;
    width: 100%;
    padding: 0 16px;
  }

  .home-blog .section-heading .btn-wrap .btn-64 {
    width: 100%;
  }

  .home-blog .posts-grid .post-title {
    min-height: auto;
    padding-right: 5px;
    padding-bottom: 75px;
    font-size: 28px;
    line-height: 36px;
  }

  .home-blog .posts-grid .post-bottom::after {
    right: 20px;
    bottom: 0;
  }

  .contacts-bottom-block {
    position: relative;
    height: auto;
    margin-top: 165px;
  }

  .contacts-bottom-block h2 br {
    display: none;
  }

  .contacts-bottom-block::after {
    display: none;
  }

  .contacts-bottom-block .btn-wrap {
    flex-direction: column;
    margin-top: 24px;
  }

  .contacts-bottom-block .btn-wrap button {
    width: 100%;
    height: 76px;
    padding: 0 22px;
    margin-bottom: 8px;
    border-width: 1px;
  }

  .contacts-bottom-block .btn-wrap .btn-80 {
    position: relative;
    top: 0;
    height: 80px;
    padding: 0 60px;
  }

  .site-footer {
    padding-top: 2px;
    padding-bottom: 1px;
    margin-top: 29px;
    border-top: none;
  }

  .footer-menu {
    display: none;
  }

  .site-footer .company-info {
    position: relative;
    top: unset;
    right: unset;
  }

  .footer-privacy .footer-menu {
    display: block;
  }

  .site-footer .company-contacts > * {
    padding-right: 5%;
  }

  .site-footer .company-address {
    line-height: 26px;
  }

  .site-footer .socials {
    margin-top: 25px;
  }

  .site-footer .socials a {
    width: 44px;
    height: 44px;
    margin-right: 0.8px;
  }

  .site-footer .socials a:last-child {
    margin-right: 0;
  }

  .site-footer .footer-privacy {
    margin-top: 23px;
  }

  .post, .page {
    margin-bottom: 28px;
  }

  .servises-hero .flex {
    flex-direction: column;
    align-items: normal;
  }

  .servises-hero .flex > .col-50 {
    width: 100%;
  }

  .servises-hero h1 {
    font-size: 56px;
    font-weight: 500;
    line-height: 64px;
    text-transform: capitalize;
    letter-spacing: 0%;
  }

  .servises-hero .hero-descripton {
    font-size: 28px;
    line-height: 36px;
  }

  .servises-hero .hero-descripton p {
    padding-left: 0;
  }

  .servises-hero {
    padding-top: 53px;
    padding-bottom: 52px;
  }

  .services-overview-content .flex {
    flex-direction: column;
  }

  .services-overview-content .flex .col-50 {
    width: 100%;
  }

  .services-benefits-content .items {
    grid-template-columns: 1fr;
  }

  .testiomonials-full-width .testiomonial-item .flex {
    flex-direction: column;
  }

  .testiomonials-full-width .testiomonial-content.col {
    order: 2;
    width: 100%;
  }

  .testiomonials-full-width .testiomonial-photo.col {
    order: 1;
    width: 100%;
  }

  .testiomonials-full-width .slick-next, .testiomonials-full-width .slick-prev {
    top: unset;
    bottom: -106px;
  }

  .blog-hero::after {
    top: 40%;
  }

  .blog-posts {
    grid-template-columns: repeat(2, 1fr);
  }

  .editors-choice-container {
    display: block;
  }
}

@media screen and (max-width: 998px) {
  .post-template .related-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .post-template .related-post:last-child {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  h1,
  .h1 {
    margin: 0;
    font-family: Satoshi-Medium;
    font-size: 48px;
  }

  h2,
  .h2 {
    margin: 0;
    font-family: Satoshi-Medium;
    font-size: 40px;
  }

  h3,
  .h3 {
    margin: 0;
    font-family: Satoshi-Medium;
    font-size: 34px;
    font-weight: 500;
  }

  h4,
  .h4 {
    margin: 0;
    font-family: Satoshi-Regular;
    font-size: 32px;
    font-weight: 400;
  }

  h5,
  .h5 {
    margin: 0;
    font-family: Satoshi-Medium;
    font-size: 28px;
    font-weight: 500;
  }

  h6,
  .h6 {
    margin: 0;
    font-family: Satoshi-Medium;
    font-size: 24px;
    font-weight: 500;

  }

  #page {
    padding-top: 50px;
  }

  .post-type-archive-cases .section-title {
    font-size: 56px;
  }

  .post-type-archive-cases .section-cases-list {
    grid-template-columns: 1fr;
    gap: 25px;
    justify-items: center;
  }

  .blog .section-title {
    position: relative;
    z-index: 2;
    padding-right: clamp(70px, -71.3043px + 35.3261vw, 200px);
  }

  .blog-posts {
    grid-template-columns: 1fr;
  }

  .content-wrapper .container {
    grid-template-columns: 1fr;
  }

  .post-template .related-grid {
    grid-template-columns: 1fr;
  }

  .post-template .related-post:not(:nth-child(1)) {
    display: none;
  }

  .related-posts .btn-wrap {
    display: flex;
    visibility: visible;
  }
}