.swiper {
  box-sizing: border-box;
  width: 100%;
  max-width: 800px;
  aspect-ratio: 16 / 15;
  padding: 16px 0 32px;
}

.swiper-wrapper {

}

.swiper-slide {
  display: flex;
  flex-direction: column;
  gap: 8px;

  /* max-height: 726px; */
  overflow: hidden;
  border-radius: 12px;
}

.swiper-slide img {
  align-self: 400 / 349;
  width: 100%;
  max-width: 100%;
  overflow: hidden;

  /* height: 90%; */
  object-fit: cover;
  object-position: center;
  border-radius: 12px;
}

.swiper-slide p {
  padding: 0;
  margin: 0;
  font-family: Satoshi-Regular;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  font-feature-settings: 'liga' off;
  line-height: 1.42; /* 142.857% */
  color: #9B9BA4;
  text-align: center;
}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 0;
}