.services-toggle-items {
    padding: 0;
    margin-bottom: 130px;
}

.services-toggle-items .section-title{
    padding-bottom: 31px;
}

.services-toggle-items .accordion-item {
    padding: 33px 0;
    padding-bottom: 0;
    border-top: 1px solid rgba(240, 243, 250, 0.08);
}

.services-toggle-items .accordion-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border-bottom: 1px solid rgba(240, 243, 250, 0.16);
    padding-bottom: 24px;
    position: relative;
}

.services-toggle-items .accordion-number {
    color: rgba(86, 86, 89, 1);
    position: relative;
    top: 7px;
}

.services-toggle-items .accordion-title {
    flex-grow: 1;
    margin-left: 17px;
}

.services-toggle-items .accordion-toggle {
    border: none;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    transition: transform 0.3sease;
    background: rgba(14, 17, 32, 1);
    width: 64px;
    height: 64px;
    position: absolute;
    right: 0;
    border-radius: 100px;
    top: -10px;
}
.services-toggle-items .accordion-toggle::before{
    content: '';
    width: 20px;
    height: 2px;
    background: #fff;
    position: absolute;
    top: 31px;
    left: 22px;
}

.services-toggle-items .accordion-toggle::after{
    content: '';
    width: 2px;
    height: 20px;
    background: #fff;
    position: absolute;
    top: 22px;
    left: 30.5px;
    transition: 0.2s;
}
.services-toggle-items .accordion-item.active .accordion-toggle::after {
    display: none;
    transform: rotate(45deg);
    transition: 0.2s;
}


.services-toggle-items .accordion-content {
    padding-top: 40px;
    font-size: 16px;
    color: #aaa;
    display: flex;
    gap: 16px;
    padding-bottom: 52px;
}
.services-toggle-items .accordion-content .details-text{
    width: 50%;
}

.services-toggle-items .details-label {
    font-weight: bold;
    margin-bottom: 10px;
    color: #fff;
}

.services-toggle-items .details-text {
    color: #ccc;
    margin-bottom: 10px;
}

.services-toggle-items .details-text.additional {
    color: #bbb;
}



@media (max-width: 768px) {
    .services-toggle-items .accordion-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .services-toggle-items .accordion-title {
        margin-bottom: 10px;
    }

    .services-toggle-items .accordion-content {
        padding-left: 0;
    }
}